<header>
    <div class="logo">LegalHub</div>
    <nav>
        <a href="dashboard" class="nav-button nav-link">Home</a>
        <a href="avocats" class="nav-button logout">Avocats</a>
        <a href="huissier" class="nav-button login">Huissiers</a>
        <a href="singup/index" class="nav-button login">singup</a>
        <a href="Statistiques" class="nav-button nav-link">Statistics</a>
        <a href="client" class="nav-button nav-link">Recherche</a>
        <a href="Login/autho" class="nav-button login">Login</a>
        <a href="Logout" class="nav-button logout">Logout</a>
    </nav>
</header>