
<!-- // $user;
// //   if($_SESSION['user']){
// //        $user ="User";
// //   }else
//  if($_SESSION['admin']){
//        $user ="Admin";
    
//   }else if($_SESSION['avocat']){
//        $user ="Avocat";
    
//   }else if($_SESSION['huissier']){
//        $user ="Huissier";
    
//   } -->

<header>
        <div class="logo">LegalHub</div>
        <nav>
            <a href="dashboard" class="nav-button nav-link">Home</a>
            <a href="avocats" class="nav-button logout">Avocats</a>
            <a href="huissier" class="nav-button login">Huissiers</a>
            <a href="Statistiques/checkUser" class="nav-button nav-link">Statistics</a>
            <a href="client" class="nav-button nav-link">Recherche</a>
            <a href="auth/logout" class="nav-button logout">Logout</a>
        </nav>
</header>